body { 
    padding-top: 3rem; 
    font-size: 1rem; 
    background-color: #f0f0f0; /* 设置背景颜色为浅灰色 */
}
.container { 
    width: 66.66%; 
    margin: 0 auto; 
}
.paper-title { 
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
    text-align: center;
}
.author-list { 
    font-size: 1.2rem; 
    margin-bottom: 2rem; 
    text-align: center;
}
.section, .figure { 
    margin: 3rem 0; 
    text-align: center; 
}
.content-wrap { 
    margin: 0 auto; 
    text-align: left; 
}
.abstract-content, .teaser-content { 
    margin: 0 auto; 
}
.badge { 
    margin-right: 0.5rem; 
}
img { 
    max-width: 100%; 
    height: auto;
}

/* Custom buttons */
.custom-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px; /* 增加这个值以加大间隔 */
    padding: 14px 24px;
    background-color: #333; /* 底色 */
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    line-height: 1.2;
}

.custom-btn i {
    margin-right: 10px;
    font-size: 1.3rem;
}
/* Specific button styles */
.paper-btn {
    background-color: #949090;
}

.model-btn {
    background-color: #949090;
}

.code-btn {
    background-color: #949090;
}

.btn-custom {
    margin: 0 20px 20px 0; /* 调整水平间距和垂直下边距 */
    padding: 15px 30px; /* 统一的内边距 */
    background-color: #d3d3d3; /* 更改为浅灰色 */
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #b8b8b8; /* 鼠标悬停时的背景颜色 */
}